:root {
  --color1: deepskyblue;
  --color1--hover: #0099cc;
  --color1--active: #007399;
  --color2: rgb(242, 242, 242);
  --color2--trans: rgba(242, 242, 242, 0.4);
}

body {
  /* background-color: BlanchedAlmond; */
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.title {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 5rem;
  font-family: Verdana, Arial, sans-serif;
}

.title > span {
  display: inline-block;
}

.boggle-B {
  rotate: -10deg;
}

.boggle-g {
  rotate: 15deg;
}

.boggle-l {
  rotate: 10deg;
}

.data-card {
  background-color: var(--color1);
}

.data-card__number {
  background-color: var(--color2);
}

.gameboard {
  background-color: var(--color1);
  border-collapse: separate;
  border-spacing: 1rem;
  max-height: 30rem;
  max-width: 30rem;
  aspect-ratio: 1 / 1;
}

.gameboard td {
  height: 3rem;
  width: 3rem;
  background-color: ivory;
}

.btn {
  background-color: var(--color1);
  border-color: var(--color1);
}

.btn:hover {
  background-color: var(--color1--hover);
  border-color: var(--color1--hover);
}

.btn:active {
  background-color: var(--color1--active) !important;
  border-color: var(--color1--active) !important;
}

form label,
#guess-result {
  background-color: var(--color2--trans);
}

.show {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

#form-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

#form-config > h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#form-config > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

#form-config > button {
  margin-top: 1rem;
  width: 8rem;
}

#form-config label {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#form-config input {
  border-radius: 0.5rem;
  width: 10rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
