{% extends 'base.html' %}

{% block content %}
<header>
    <div>
        Points
        <div id="points">0</div>
    </div>
</header>
<main>
    <table>
        {% for row in board %}
        <tr>
            {% for col in row %}
            <td>
                {{ col }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <form id="form-guess-word">
        <label for="form-guess-word__input-guessed-word">
            Submit a guess:
        </label>
        <input id="form-guess-word__input-guessed-word" type="text"
            name="guessed-word" />
        <button>Submit</button>
    </form>
    <div id="guess-result"></div>
</main>
{% endblock %}