{% extends 'base.html' %}

{% block content %}
<header>
    <div class="container py-2">
        <div class="row py-2">
            <div
                class="data-card col-5 col-md-2 py-2 text-center text-nowrap bg-gradient rounded-4">
                Games Played
                <div id="games-played"
                    class="data-card__number m-2 p-1 rounded-3">{{
                    games_played
                    }}</div>
            </div>
            <div class="col col-md-8"></div>
            <div
                class="data-card col-5 col-md-2 py-2 text-center text-nowrap bg-gradient rounded-4">
                High Score
                <div id="high-score" class="data-card__number m-2 p-1 rounded-3">{{
                    high_score }}</div>
            </div>
        </div>
        <div class="row py-2">
            <div
                class="data-card col-5 col-md-2 py-2 text-center text-nowrap bg-gradient rounded-4">
                Time
                <div id="timer" class="data-card__number m-2 p-1 rounded-3">{{
                    timer }}</div>
            </div>
            <div class="col col-md-8"></div>
            <div
                class="data-card col-5 col-md-2 py-2 text-center text-nowrap bg-gradient rounded-4">
                Points
                <div id="points" class="data-card__number m-2 p-1 rounded-3">0</div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container-md">
        <div class="row">
            <div class="col col-lg-6 mx-auto">
                <table
                    class="gameboard table table-bordered align-middle text-center mx-auto my-4 rounded-4">
                    <tbody>
                        {% for row in board %}
                        <tr>
                            {% for col in row %}
                            <td class="rounded-3 fs-2">
                                {{ col }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-md">
        <div class="row">
            <div class="col-8 col-sm-4 col-xl-3 mx-auto text-center">
                <form id="form-guess-word"
                    class="d-flex flex-column p-1 mx-auto">
                    <label for="form-guess-word__input-guessed-word"
                        class="p-1 m-1 rounded-2 text-center">
                        Submit a guess:
                    </label>
                    <input id="form-guess-word__input-guessed-word"
                        class="m-1 rounded-2"
                        type="text"
                        name="guessed-word" required autofocus />
                    <button class="btn btn-primary m-1">Submit</button>
                </form>
                <span id="guess-result"
                    class="text-center rounded-1"></span>
            </div>
        </div>
    </div>
</main>
{% endblock %}